<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Category Selection</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="text-center">
<h1 class="mt-5">Wybierz Quiz</h1>
<form class="mt-5" action="/selectCategory" method="post">
  <div class="form-group">
    <select class="form-control" name="category">
      <option value="FX">JavaFX</option>
      <option value="Swing">Swing</option>
      <option value="Spring">Spring</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary mt-3">Zatwierdz</button>
</form>
</body>
</html>
