<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Category Selection</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="text-center">
<h1 class="mt-5">Test z przedmiotu Java</h1>
<h3 class="mt-5">Do uzyskania jest 10 punktów</h3>
<h3 class="mt-5">Czas na realizację to 20 minut</h3>
<form action="/startQuiz" method="post">
  <button type="submit" class="btn btn-primary mt-3">Rozpocznij</button>
</form>
</body>
</html>
