<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TECHNOLOGIE WEB I JAVA</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="text-center">
<h1 class="mt-5">Egzamin z Java w dniu 15.02.2024 - cz.I test pisemny</h1>
<h4 class="mt-2">Prowadzący dr hab. inż. Jan PROKOP, prof. PRz</h4>
<h4 class="mt-7">Egazamin zawiera 12 pytań testowych sprawdzjących wiedzę</h4>
<h4 class="mt-1">Czas na realizację to 60 minut</h4>

<form action="/startQuiz" method="post">
  <button type="submit" class="btn btn-primary mt-3">Rozpocznij</button>
</form>

</body>
</html>
